<%- include("partials/header.ejs") %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .card-body {
    }
  </style>
  <body>
    <div
      class="album py-5 bg-body-tertiary"
      style="background-color: #fbf9f1 !important"
    >
      <div class="container">
        <form action="/add" method="/post">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image style="object-fit: cover;"
                    href="/images/a.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Apple</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Apple"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹14.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/bana.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Banana</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Banana"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹12.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/org.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Orange</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Orange"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹18.00</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/avooo.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Avocado</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Avocado"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹49.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/pin.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Pineapple</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Pineapple"
                        formaction="/add"
                        formmethod="post"
                        name="choice"
                        value="Grapes"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹27.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/mango.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Mango</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="Papaya"
                        name="choice"
                        value="Mango"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹24.00</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/pot.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Potatoes</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Potatoes"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹38.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/broc.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Brocolli</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Brocolli"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹44.00</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <svg
                  class="bd-placeholder-img card-img-top"
                  width="100%"
                  height="225"
                  xmlns="http://www.w3.org/2000/svg"
                  role="img"
                  aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <title>Placeholder</title>
                  <image
                    href="/images/car.png"
                    x="0"
                    y="0"
                    width="100%"
                    height="100%"
                  ></image>
                </svg>
                <div class="card-body">
                  <h5 class="card-text">Carrot</h5>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="submit"
                        name="choice"
                        value="Carrot"
                        formaction="/add"
                        formmethod="post"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        ADD TO CART
                      </button>
                    </div>
                    <small class="text-body-secondary">₹22.00</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <%- include("partials/footer.ejs") %>
</html>
